<!DOCTYPE html>
<html>
  <head>
    <title>SpartaProfiles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container-fluid">
      <%if current_user && current_user.role == 2 %>
        <%= render "partials/header_with_sections" %>
      <%else%>
        <%= render "partials/header" %>
      <%end %>
      <%= render "partials/alerts" %>
      <div class="content-main">
          <%= yield %>
      </div>
    </div>
    <%= tinymce %>
    <%= render "partials/footer" %>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  </body>
</html>
