<h1 class="header">Employment</h1>
<p>Click 'New Employment' to add your employment history to your account.</p>
<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%id = 0 %>
    <% @employments.each do |employment| %>
      <tr>
        <td><%= link_to employment.company, edit_employment_path(employment), id: "title-#{id}" %></td>
        <td><%= employment.start_date %></td>
        <td><%= employment.end_date %></td>
        <td><%= employment.role %></td>
        <td><%= link_to 'Destroy', employment, method: :delete, data: { title: 'Delete Entry', confirm: 'Are you sure?', id: "destroy-#{id}"} %></td>
      </tr>
    <%id = id + 1 %>
    <% end %>

      <tr>
        <td colspan="7" class="text-center"><%= link_to 'New Employment', new_employment_path, class: "btn btn-primary", id: "new-button" %></td>
      </tr>
  </tbody>
</table>
