<p>
  <strong>Title:</strong>
  <%= @custom.title %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @custom.heading %>
</p>

<p>
  <strong>Body:</strong>
  <%= @custom.body %>
</p>


<%= link_to 'Edit', edit_custom_path(@custom), id: 'edit-button' %> |
<%= link_to 'Back', customs_path, id:'back-button'%>
